name: CMake CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Install Dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y libboost-all-dev libcgal-dev ninja-build

    - name: Configure CMake
      run: cmake --preset release-tests

    - name: Build
      run: cmake --build --preset release-tests

    - name: Test
      run: ctest --preset release-tests
