name: CMake CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Install Dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y libboost-all-dev libcgal-dev ninja-build

    - name: Configure CMake
      run: cmake --preset release-coverage

    - name: Build
      run: cmake --build --preset release-coverage

    - name: Test
      run: ctest --preset release-coverage

    - name: Generate Coverage Report
      run: |
        pip install gcovr
        gcovr -r . --xml -o coverage.xml --exclude-directories "tests|build/coverage/_deps"

    - name: SonarCloud Scan
      uses: SonarSource/sonarqube-scan-action@v5.0.0
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
